version: '3'
services:
  nginx:
    image: nginx:1.15.6
    ports:
      - '8000:80'
    depends_on:
      - app
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html

  app:
    image: php:7.4-fpm
    volumes:
      - .:/var/www/html
